# Dependencies
node_modules/
*/node_modules/

# Production build outputs
dist/
*/dist/
build/
*/build/
dist-ssr/

# Environment variables & secrets
.env
.env.*
!.env.example
*.local

# Database & Uploads
uploads/
backend/uploads/
/src/generated/prisma
*.db
*.sqlite

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# System & IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json